<div class="container-fluid">
  <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-r1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

	<%= link_to "Title", root_path, id: 'logo', 
	    class: "navbar-brand" %>

      </div><!--/navbar-header-->

      <div class="collapse navbar-collapse" id="navbar-collapse-r1">
	<ul class="nav navbar-nav navbar-right">
 	    <li><%= link_to "Sign up", '#' %></li>
	    <li><%= link_to "Login",   '#' %></li>
	</ul>
      </div><!--/navbar-collapse ...-->

    </div><!--/container-->
  </nav><!--/navbar navbar-fixed-top ...-->
</div>

  <div class="container">

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer venenatis gravida commodo. Praesent tempus enim justo, sit amet blandit sem dapibus in. Aliquam ligula augue, bibendum sit amet dui eu, lacinia vestibulum odio. Nunc id egestas velit. Nullam id aliquam arcu. Curabitur et ante sem. Nulla sit amet eros ante. Quisque vel convallis arcu. Duis commodo urna vel massa varius elementum. Cras dictum leo sit amet sem pulvinar, in facilisis libero mollis.

</div>

<div class="container">

Aenean ac sem massa. Duis vestibulum nisi et odio sodales pulvinar. Sed ac porttitor metus. Aenean imperdiet faucibus sem ut porttitor. Donec a massa ut purus vulputate vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi lacinia lobortis enim, pellentesque cursus lectus tincidunt ac. Pellentesque fringilla condimentum vulputate. Duis egestas mi semper est varius iaculis. Donec pulvinar mattis magna vitae hendrerit. Nam condimentum purus ut risus hendrerit sagittis. Quisque vehicula consequat diam et consequat. Suspendisse pharetra felis urna, viverra sodales magna commodo id.

  </div>
